# Environment variables
.env

# Session files
session.cookie
csrf.token

# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# SQLite database
*.sqlite3

# Queue file
.queue
